.ui_modal-body.ui_modal-rounded-lg.ui_modal-light, .user-popup-component, .action-buttons-user-actions-component, .user-popup-separator, .invitations-request-container {
  color: rgb(200, 200, 200);
  background-color: rgb(30, 30, 30);
}

.settings-modal-setting span, .settings-modal-setting, .custom-rules-modal-content, .custom-rules-modal-templates, .game-details-type, .game-details-rules div[style="display: flex;"], .standings-standing {
  color: rgb(200, 200, 200);
}

.settings-modal-cat-item, .ui_v5-button-component.ui_v5-button-basic-light.ui_v5-button-x-small, .ui_v5-select-component.ui_v5-select-light, .custom-rules-modal-custom-rule-item, .custom-rules-modal-preset-item, .my-templates-template {
  color: rgb(200, 200, 200);
  background-color: rgb(50, 50, 50) !important;
  border-color: rgb(50, 50, 50);
}

.settings-modal-cat-item:hover, .ui_v5-button-component.ui_v5-button-basic-light.ui_v5-button-x-small:hover, .ui_v5-select-component.ui_v5-select-light:hover, .custom-rules-modal-custom-rule-item:hover, .custom-rules-modal-preset-item:hover, .my-templates-template:hover {
  color: rgb(200, 200, 200);
  background-color: rgb(75, 75, 75) !important;
}