/* Red pieces */

.piece.BasePiece-component[data-color="0"][data-piece="A"] {
  background-image: none;
  content: url("https://bitbucket.org/vasyavasyalin/fourplayericons/raw/94a086f302e6166a408865697c222bbfb28e00e2/Red/amazon.png");
}

.piece.BasePiece-component[data-color="0"][data-piece="B"] {
  background-image: none;
  content: url("https://bitbucket.org/vasyavasyalin/fourplayericons/raw/94a086f302e6166a408865697c222bbfb28e00e2/Red/bishop.png");
}

.piece.BasePiece-component[data-color="0"][data-piece="C"] {
  background-image: none;
  content: url("https://bitbucket.org/vasyavasyalin/fourplayericons/raw/94a086f302e6166a408865697c222bbfb28e00e2/Red/camel.png");
}

.piece.BasePiece-component[data-color="0"][data-piece="D"] {
  background-image: none;
  content: url("https://bitbucket.org/vasyavasyalin/fourplayericons/raw/94a086f302e6166a408865697c222bbfb28e00e2/Red/dame.png");
}

.piece.BasePiece-component[data-color="0"][data-piece="E"] {
  background-image: none;
  content: url("https://bitbucket.org/vasyavasyalin/fourplayericons/raw/94a086f302e6166a408865697c222bbfb28e00e2/Red/elephant.png");
}

.piece.BasePiece-component[data-color="0"][data-piece="F"] {
  background-image: none;
  content: url("https://bitbucket.org/vasyavasyalin/fourplayericons/raw/94a086f302e6166a408865697c222bbfb28e00e2/Red/ferz.png");
}

.piece.BasePiece-component[data-color="0"][data-piece="G"] {
  background-image: none;
  content: url("https://bitbucket.org/vasyavasyalin/fourplayericons/raw/94a086f302e6166a408865697c222bbfb28e00e2/Red/grasshopper.png");
}

.piece.BasePiece-component[data-color="0"][data-piece="H"] {
  background-image: none;
  content: url("https://bitbucket.org/vasyavasyalin/fourplayericons/raw/94a086f302e6166a408865697c222bbfb28e00e2/Red/hawk.png");
}

.piece.BasePiece-component[data-color="0"][data-piece="I"] {
  background-image: none;
  content: url("https://bitbucket.org/vasyavasyalin/fourplayericons/raw/94a086f302e6166a408865697c222bbfb28e00e2/Red/alfil.png");
}

.piece.BasePiece-component[data-color="0"][data-piece="J"] {
  background-image: none;
  content: url("https://bitbucket.org/vasyavasyalin/fourplayericons/raw/94a086f302e6166a408865697c222bbfb28e00e2/Red/alfil-rider.png");
}

.piece.BasePiece-component[data-color="0"][data-piece="K"] {
  background-image: none;
  content: url("https://bitbucket.org/vasyavasyalin/fourplayericons/raw/94a086f302e6166a408865697c222bbfb28e00e2/Red/king.png");
}

.piece.BasePiece-component[data-color="0"][data-piece="L"] {
  background-image: none;
  content: url("https://bitbucket.org/vasyavasyalin/fourplayericons/raw/94a086f302e6166a408865697c222bbfb28e00e2/Red/camel-rider.png");
}

.piece.BasePiece-component[data-color="0"][data-piece="M"] {
  background-image: none;
  content: url("https://bitbucket.org/vasyavasyalin/fourplayericons/raw/94a086f302e6166a408865697c222bbfb28e00e2/Red/general.png");
}

.piece.BasePiece-component[data-color="0"][data-piece="N"] {
  background-image: none;
  content: url("https://bitbucket.org/vasyavasyalin/fourplayericons/raw/94a086f302e6166a408865697c222bbfb28e00e2/Red/knight.png");
}

.piece.BasePiece-component[data-color="0"][data-piece="O"] {
  background-image: none;
  content: url("https://bitbucket.org/vasyavasyalin/fourplayericons/raw/94a086f302e6166a408865697c222bbfb28e00e2/Red/knight-rider.png");
}

.piece.BasePiece-component[data-color="0"][data-piece="P"] {
  background-image: none;
  content: url("https://bitbucket.org/vasyavasyalin/fourplayericons/raw/94a086f302e6166a408865697c222bbfb28e00e2/Red/pawn.png");
}

.piece.BasePiece-component[data-color="0"][data-piece="Q"] {
  background-image: none;
  content: url("https://bitbucket.org/vasyavasyalin/fourplayericons/raw/94a086f302e6166a408865697c222bbfb28e00e2/Red/queen.png");
}

.piece.BasePiece-component[data-color="0"][data-piece="R"] {
  background-image: none;
  content: url("https://bitbucket.org/vasyavasyalin/fourplayericons/raw/94a086f302e6166a408865697c222bbfb28e00e2/Red/rook.png");
}

.piece.BasePiece-component[data-color="0"][data-piece="S"] {
  background-image: none;
  content: url("https://bitbucket.org/vasyavasyalin/fourplayericons/raw/94a086f302e6166a408865697c222bbfb28e00e2/Red/dabbaba.png");
}

.piece.BasePiece-component[data-color="0"][data-piece="T"] {
  background-image: none;
  content: url("https://bitbucket.org/vasyavasyalin/fourplayericons/raw/94a086f302e6166a408865697c222bbfb28e00e2/Red/dabbaba-rider.png");
}

.piece.BasePiece-component[data-color="0"][data-piece="U"] {
  background-image: none;
  content: url("https://bitbucket.org/vasyavasyalin/fourplayericons/raw/25b2f83481ed319f835091357bd450beadbe7237/Red/dragon-horse.png");
}

.piece.BasePiece-component[data-color="0"][data-piece="V"] {
  background-image: none;
  content: url("https://bitbucket.org/vasyavasyalin/fourplayericons/raw/94a086f302e6166a408865697c222bbfb28e00e2/Red/wildebeest.png");
}

.piece.BasePiece-component[data-color="0"][data-piece="W"] {
  background-image: none;
  content: url("https://bitbucket.org/vasyavasyalin/fourplayericons/raw/94a086f302e6166a408865697c222bbfb28e00e2/Red/wazir.png");
}

.piece.BasePiece-component[data-color="0"][data-piece="Y"] {
  background-image: none;
  content: url("https://bitbucket.org/vasyavasyalin/fourplayericons/raw/94a086f302e6166a408865697c222bbfb28e00e2/Red/alibaba.png");
}

.piece.BasePiece-component[data-color="0"][data-piece="Z"] {
  background-image: none;
  content: url("https://bitbucket.org/vasyavasyalin/fourplayericons/raw/94a086f302e6166a408865697c222bbfb28e00e2/Red/alibaba-rider.png");
}

.piece.BasePiece-component[data-color="0"][data-piece="α"] {
  background-image: none;
  content: url("https://bitbucket.org/vasyavasyalin/fourplayericons/raw/94a086f302e6166a408865697c222bbfb28e00e2/Red/berolina.png");
}

.piece.BasePiece-component[data-color="0"][data-piece="β"] {
  background-image: none;
  content: url("https://bitbucket.org/vasyavasyalin/fourplayericons/raw/94a086f302e6166a408865697c222bbfb28e00e2/Red/soldier.png");
}

.piece.BasePiece-component[data-color="0"][data-piece="γ"] {
  background-image: none;
  content: url("https://bitbucket.org/vasyavasyalin/fourplayericons/raw/94a086f302e6166a408865697c222bbfb28e00e2/Red/stone.png");
}

.piece.BasePiece-component[data-color="0"][data-piece="δ"] {
  background-image: none;
  content: url("https://bitbucket.org/vasyavasyalin/fourplayericons/raw/94a086f302e6166a408865697c222bbfb28e00e2/Red/sergeant.png");
}

.piece.BasePiece-component[data-color="0"][data-piece="Δ"] {
  background-image: none;
  content: url("https://bitbucket.org/vasyavasyalin/fourplayericons/raw/25b2f83481ed319f835091357bd450beadbe7237/Red/dragon-bishop.png");
}

/* Blue pieces */

.piece.BasePiece-component[data-color="1"][data-piece="A"] {
  background-image: none;
  content: url("https://bitbucket.org/vasyavasyalin/fourplayericons/raw/94a086f302e6166a408865697c222bbfb28e00e2/Blue/amazon.png");
}

.piece.BasePiece-component[data-color="1"][data-piece="B"] {
  background-image: none;
  content: url("https://bitbucket.org/vasyavasyalin/fourplayericons/raw/94a086f302e6166a408865697c222bbfb28e00e2/Blue/bishop.png");
}

.piece.BasePiece-component[data-color="1"][data-piece="C"] {
  background-image: none;
  content: url("https://bitbucket.org/vasyavasyalin/fourplayericons/raw/94a086f302e6166a408865697c222bbfb28e00e2/Blue/camel.png");
}

.piece.BasePiece-component[data-color="1"][data-piece="D"] {
  background-image: none;
  content: url("https://bitbucket.org/vasyavasyalin/fourplayericons/raw/94a086f302e6166a408865697c222bbfb28e00e2/Blue/dame.png");
}

.piece.BasePiece-component[data-color="1"][data-piece="E"] {
  background-image: none;
  content: url("https://bitbucket.org/vasyavasyalin/fourplayericons/raw/94a086f302e6166a408865697c222bbfb28e00e2/Blue/elephant.png");
}

.piece.BasePiece-component[data-color="1"][data-piece="F"] {
  background-image: none;
  content: url("https://bitbucket.org/vasyavasyalin/fourplayericons/raw/94a086f302e6166a408865697c222bbfb28e00e2/Blue/ferz.png");
}

.piece.BasePiece-component[data-color="1"][data-piece="G"] {
  background-image: none;
  content: url("https://bitbucket.org/vasyavasyalin/fourplayericons/raw/94a086f302e6166a408865697c222bbfb28e00e2/Blue/grasshopper.png");
}

.piece.BasePiece-component[data-color="1"][data-piece="H"] {
  background-image: none;
  content: url("https://bitbucket.org/vasyavasyalin/fourplayericons/raw/94a086f302e6166a408865697c222bbfb28e00e2/Blue/hawk.png");
}

.piece.BasePiece-component[data-color="1"][data-piece="I"] {
  background-image: none;
  content: url("https://bitbucket.org/vasyavasyalin/fourplayericons/raw/94a086f302e6166a408865697c222bbfb28e00e2/Blue/alfil.png");
}

.piece.BasePiece-component[data-color="1"][data-piece="J"] {
  background-image: none;
  content: url("https://bitbucket.org/vasyavasyalin/fourplayericons/raw/94a086f302e6166a408865697c222bbfb28e00e2/Blue/alfil-rider.png");
}

.piece.BasePiece-component[data-color="1"][data-piece="K"] {
  background-image: none;
  content: url("https://bitbucket.org/vasyavasyalin/fourplayericons/raw/94a086f302e6166a408865697c222bbfb28e00e2/Blue/king.png");
}

.piece.BasePiece-component[data-color="1"][data-piece="L"] {
  background-image: none;
  content: url("https://bitbucket.org/vasyavasyalin/fourplayericons/raw/94a086f302e6166a408865697c222bbfb28e00e2/Blue/camel-rider.png");
}

.piece.BasePiece-component[data-color="1"][data-piece="M"] {
  background-image: none;
  content: url("https://bitbucket.org/vasyavasyalin/fourplayericons/raw/94a086f302e6166a408865697c222bbfb28e00e2/Blue/general.png");
}

.piece.BasePiece-component[data-color="1"][data-piece="N"] {
  background-image: none;
  content: url("https://bitbucket.org/vasyavasyalin/fourplayericons/raw/94a086f302e6166a408865697c222bbfb28e00e2/Blue/knight.png");
}

.piece.BasePiece-component[data-color="1"][data-piece="O"] {
  background-image: none;
  content: url("https://bitbucket.org/vasyavasyalin/fourplayericons/raw/94a086f302e6166a408865697c222bbfb28e00e2/Blue/knightrider.png");
  /* misspelling in bsrti's files */
}

.piece.BasePiece-component[data-color="1"][data-piece="P"] {
  background-image: none;
  content: url("https://bitbucket.org/vasyavasyalin/fourplayericons/raw/94a086f302e6166a408865697c222bbfb28e00e2/Blue/pawn.png");
}

.piece.BasePiece-component[data-color="1"][data-piece="Q"] {
  background-image: none;
  content: url("https://bitbucket.org/vasyavasyalin/fourplayericons/raw/94a086f302e6166a408865697c222bbfb28e00e2/Blue/queen.png");
}

.piece.BasePiece-component[data-color="1"][data-piece="R"] {
  background-image: none;
  content: url("https://bitbucket.org/vasyavasyalin/fourplayericons/raw/94a086f302e6166a408865697c222bbfb28e00e2/Blue/rook.png");
}

.piece.BasePiece-component[data-color="1"][data-piece="S"] {
  background-image: none;
  content: url("https://bitbucket.org/vasyavasyalin/fourplayericons/raw/94a086f302e6166a408865697c222bbfb28e00e2/Blue/dabbaba.png");
}

.piece.BasePiece-component[data-color="1"][data-piece="T"] {
  background-image: none;
  content: url("https://bitbucket.org/vasyavasyalin/fourplayericons/raw/94a086f302e6166a408865697c222bbfb28e00e2/Blue/dabbaba-rider.png");
}

.piece.BasePiece-component[data-color="1"][data-piece="U"] {
  background-image: none;
  content: url("https://bitbucket.org/vasyavasyalin/fourplayericons/raw/25b2f83481ed319f835091357bd450beadbe7237/Blue/dragon-horse.png");
}

.piece.BasePiece-component[data-color="1"][data-piece="V"] {
  background-image: none;
  content: url("https://bitbucket.org/vasyavasyalin/fourplayericons/raw/94a086f302e6166a408865697c222bbfb28e00e2/Blue/wildebeest.png");
}

.piece.BasePiece-component[data-color="1"][data-piece="W"] {
  background-image: none;
  content: url("https://bitbucket.org/vasyavasyalin/fourplayericons/raw/94a086f302e6166a408865697c222bbfb28e00e2/Blue/wazir.png");
}

.piece.BasePiece-component[data-color="1"][data-piece="Y"] {
  background-image: none;
  content: url("https://bitbucket.org/vasyavasyalin/fourplayericons/raw/94a086f302e6166a408865697c222bbfb28e00e2/Blue/alibaba.png");
}

.piece.BasePiece-component[data-color="1"][data-piece="Z"] {
  background-image: none;
  content: url("https://bitbucket.org/vasyavasyalin/fourplayericons/raw/94a086f302e6166a408865697c222bbfb28e00e2/Blue/alibaba-rider.png");
}

.piece.BasePiece-component[data-color="1"][data-piece="α"] {
  background-image: none;
  content: url("https://bitbucket.org/vasyavasyalin/fourplayericons/raw/94a086f302e6166a408865697c222bbfb28e00e2/Blue/berolina.png");
}

.piece.BasePiece-component[data-color="1"][data-piece="β"] {
  background-image: none;
  content: url("https://bitbucket.org/vasyavasyalin/fourplayericons/raw/94a086f302e6166a408865697c222bbfb28e00e2/Blue/soldier.png");
}

.piece.BasePiece-component[data-color="1"][data-piece="γ"] {
  background-image: none;
  content: url("https://bitbucket.org/vasyavasyalin/fourplayericons/raw/94a086f302e6166a408865697c222bbfb28e00e2/Blue/stone.png");
}

.piece.BasePiece-component[data-color="1"][data-piece="δ"] {
  background-image: none;
  content: url("https://bitbucket.org/vasyavasyalin/fourplayericons/raw/94a086f302e6166a408865697c222bbfb28e00e2/Blue/sergeant.png");
}

.piece.BasePiece-component[data-color="1"][data-piece="Δ"] {
  background-image: none;
  content: url("https://bitbucket.org/vasyavasyalin/fourplayericons/raw/25b2f83481ed319f835091357bd450beadbe7237/Blue/dargon-bishop.png");
  /* another misspelling */
}

/* Yellow pieces */

.piece.BasePiece-component[data-color="2"][data-piece="A"] {
  background-image: none;
  content: url("https://bitbucket.org/vasyavasyalin/fourplayericons/raw/94a086f302e6166a408865697c222bbfb28e00e2/Yellow/amazon.png");
}

.piece.BasePiece-component[data-color="2"][data-piece="B"] {
  background-image: none;
  content: url("https://bitbucket.org/vasyavasyalin/fourplayericons/raw/94a086f302e6166a408865697c222bbfb28e00e2/Yellow/bishop.png");
}

.piece.BasePiece-component[data-color="2"][data-piece="C"] {
  background-image: none;
  content: url("https://bitbucket.org/vasyavasyalin/fourplayericons/raw/94a086f302e6166a408865697c222bbfb28e00e2/Yellow/camel.png");
}

.piece.BasePiece-component[data-color="2"][data-piece="D"] {
  background-image: none;
  content: url("https://bitbucket.org/vasyavasyalin/fourplayericons/raw/94a086f302e6166a408865697c222bbfb28e00e2/Yellow/dame.png");
}

.piece.BasePiece-component[data-color="2"][data-piece="E"] {
  background-image: none;
  content: url("https://bitbucket.org/vasyavasyalin/fourplayericons/raw/94a086f302e6166a408865697c222bbfb28e00e2/Yellow/elephant.png");
}

.piece.BasePiece-component[data-color="2"][data-piece="F"] {
  background-image: none;
  content: url("https://bitbucket.org/vasyavasyalin/fourplayericons/raw/94a086f302e6166a408865697c222bbfb28e00e2/Yellow/ferz.png");
}

.piece.BasePiece-component[data-color="2"][data-piece="G"] {
  background-image: none;
  content: url("https://bitbucket.org/vasyavasyalin/fourplayericons/raw/94a086f302e6166a408865697c222bbfb28e00e2/Yellow/grasshopper.png");
}

.piece.BasePiece-component[data-color="2"][data-piece="H"] {
  background-image: none;
  content: url("https://bitbucket.org/vasyavasyalin/fourplayericons/raw/94a086f302e6166a408865697c222bbfb28e00e2/Yellow/hawk.png");
}

.piece.BasePiece-component[data-color="2"][data-piece="I"] {
  background-image: none;
  content: url("https://bitbucket.org/vasyavasyalin/fourplayericons/raw/94a086f302e6166a408865697c222bbfb28e00e2/Yellow/alfil.png");
}

.piece.BasePiece-component[data-color="2"][data-piece="J"] {
  background-image: none;
  content: url("https://bitbucket.org/vasyavasyalin/fourplayericons/raw/94a086f302e6166a408865697c222bbfb28e00e2/Yellow/alfil-rider.png");
}

.piece.BasePiece-component[data-color="2"][data-piece="K"] {
  background-image: none;
  content: url("https://bitbucket.org/vasyavasyalin/fourplayericons/raw/94a086f302e6166a408865697c222bbfb28e00e2/Yellow/king.png");
}

.piece.BasePiece-component[data-color="2"][data-piece="L"] {
  background-image: none;
  content: url("https://bitbucket.org/vasyavasyalin/fourplayericons/raw/94a086f302e6166a408865697c222bbfb28e00e2/Yellow/camel-rider.png");
}

.piece.BasePiece-component[data-color="2"][data-piece="M"] {
  background-image: none;
  content: url("https://bitbucket.org/vasyavasyalin/fourplayericons/raw/94a086f302e6166a408865697c222bbfb28e00e2/Yellow/general.png");
}

.piece.BasePiece-component[data-color="2"][data-piece="N"] {
  background-image: none;
  content: url("https://bitbucket.org/vasyavasyalin/fourplayericons/raw/94a086f302e6166a408865697c222bbfb28e00e2/Yellow/knight.png");
}

.piece.BasePiece-component[data-color="2"][data-piece="O"] {
  background-image: none;
  content: url("https://bitbucket.org/vasyavasyalin/fourplayericons/raw/94a086f302e6166a408865697c222bbfb28e00e2/Yellow/knight-rider.png");
}

.piece.BasePiece-component[data-color="2"][data-piece="P"] {
  background-image: none;
  content: url("https://bitbucket.org/vasyavasyalin/fourplayericons/raw/94a086f302e6166a408865697c222bbfb28e00e2/Yellow/pawn.png");
}

.piece.BasePiece-component[data-color="2"][data-piece="Q"] {
  background-image: none;
  content: url("https://bitbucket.org/vasyavasyalin/fourplayericons/raw/94a086f302e6166a408865697c222bbfb28e00e2/Yellow/queen.png");
}

.piece.BasePiece-component[data-color="2"][data-piece="R"] {
  background-image: none;
  content: url("https://bitbucket.org/vasyavasyalin/fourplayericons/raw/94a086f302e6166a408865697c222bbfb28e00e2/Yellow/rook.png");
}

.piece.BasePiece-component[data-color="2"][data-piece="S"] {
  background-image: none;
  content: url("https://bitbucket.org/vasyavasyalin/fourplayericons/raw/94a086f302e6166a408865697c222bbfb28e00e2/Yellow/dabbaba.png");
}

.piece.BasePiece-component[data-color="2"][data-piece="T"] {
  background-image: none;
  content: url("https://bitbucket.org/vasyavasyalin/fourplayericons/raw/94a086f302e6166a408865697c222bbfb28e00e2/Yellow/dabbaba-rider.png");
}

.piece.BasePiece-component[data-color="2"][data-piece="U"] {
  background-image: none;
  content: url("https://bitbucket.org/vasyavasyalin/fourplayericons/raw/25b2f83481ed319f835091357bd450beadbe7237/Yellow/dragon-horse.png");
}

.piece.BasePiece-component[data-color="2"][data-piece="V"] {
  background-image: none;
  content: url("https://bitbucket.org/vasyavasyalin/fourplayericons/raw/94a086f302e6166a408865697c222bbfb28e00e2/Yellow/wildebeest.png");
}

.piece.BasePiece-component[data-color="2"][data-piece="W"] {
  background-image: none;
  content: url("https://bitbucket.org/vasyavasyalin/fourplayericons/raw/94a086f302e6166a408865697c222bbfb28e00e2/Yellow/wazir.png");
}

.piece.BasePiece-component[data-color="2"][data-piece="Y"] {
  background-image: none;
  content: url("https://bitbucket.org/vasyavasyalin/fourplayericons/raw/94a086f302e6166a408865697c222bbfb28e00e2/Yellow/alibaba.png");
}

.piece.BasePiece-component[data-color="2"][data-piece="Z"] {
  background-image: none;
  content: url("https://bitbucket.org/vasyavasyalin/fourplayericons/raw/94a086f302e6166a408865697c222bbfb28e00e2/Yellow/alibaba-rider.png");
}

.piece.BasePiece-component[data-color="2"][data-piece="α"] {
  background-image: none;
  content: url("https://bitbucket.org/vasyavasyalin/fourplayericons/raw/94a086f302e6166a408865697c222bbfb28e00e2/Yellow/berolina.png");
}

.piece.BasePiece-component[data-color="2"][data-piece="β"] {
  background-image: none;
  content: url("https://bitbucket.org/vasyavasyalin/fourplayericons/raw/94a086f302e6166a408865697c222bbfb28e00e2/Yellow/soldier.png");
}

.piece.BasePiece-component[data-color="2"][data-piece="γ"] {
  background-image: none;
  content: url("https://bitbucket.org/vasyavasyalin/fourplayericons/raw/94a086f302e6166a408865697c222bbfb28e00e2/Yellow/stone.png");
}

.piece.BasePiece-component[data-color="2"][data-piece="δ"] {
  background-image: none;
  content: url("https://bitbucket.org/vasyavasyalin/fourplayericons/raw/94a086f302e6166a408865697c222bbfb28e00e2/Yellow/sergeant.png");
}

.piece.BasePiece-component[data-color="2"][data-piece="Δ"] {
  background-image: none;
  content: url("https://bitbucket.org/vasyavasyalin/fourplayericons/raw/25b2f83481ed319f835091357bd450beadbe7237/Yellow/dragon-bishop.png");
}

/* Green pieces */

.piece.BasePiece-component[data-color="3"][data-piece="A"] {
  background-image: none;
  content: url("https://bitbucket.org/vasyavasyalin/fourplayericons/raw/94a086f302e6166a408865697c222bbfb28e00e2/Green/amazon.png");
}

.piece.BasePiece-component[data-color="3"][data-piece="B"] {
  background-image: none;
  content: url("https://bitbucket.org/vasyavasyalin/fourplayericons/raw/94a086f302e6166a408865697c222bbfb28e00e2/Green/bishop.png");
}

.piece.BasePiece-component[data-color="3"][data-piece="C"] {
  background-image: none;
  content: url("https://bitbucket.org/vasyavasyalin/fourplayericons/raw/94a086f302e6166a408865697c222bbfb28e00e2/Green/camel.png");
}

.piece.BasePiece-component[data-color="3"][data-piece="D"] {
  background-image: none;
  content: url("https://bitbucket.org/vasyavasyalin/fourplayericons/raw/94a086f302e6166a408865697c222bbfb28e00e2/Green/dame.png");
}

.piece.BasePiece-component[data-color="3"][data-piece="E"] {
  background-image: none;
  content: url("https://bitbucket.org/vasyavasyalin/fourplayericons/raw/94a086f302e6166a408865697c222bbfb28e00e2/Green/elephant.png");
}

.piece.BasePiece-component[data-color="3"][data-piece="F"] {
  background-image: none;
  content: url("https://bitbucket.org/vasyavasyalin/fourplayericons/raw/94a086f302e6166a408865697c222bbfb28e00e2/Green/ferz.png");
}

.piece.BasePiece-component[data-color="3"][data-piece="G"] {
  background-image: none;
  content: url("https://bitbucket.org/vasyavasyalin/fourplayericons/raw/94a086f302e6166a408865697c222bbfb28e00e2/Green/grasshopper.png");
}

.piece.BasePiece-component[data-color="3"][data-piece="H"] {
  background-image: none;
  content: url("https://bitbucket.org/vasyavasyalin/fourplayericons/raw/94a086f302e6166a408865697c222bbfb28e00e2/Green/hawk.png");
}

.piece.BasePiece-component[data-color="3"][data-piece="I"] {
  background-image: none;
  content: url("https://bitbucket.org/vasyavasyalin/fourplayericons/raw/94a086f302e6166a408865697c222bbfb28e00e2/Green/alfil.png");
}

.piece.BasePiece-component[data-color="3"][data-piece="J"] {
  background-image: none;
  content: url("https://bitbucket.org/vasyavasyalin/fourplayericons/raw/94a086f302e6166a408865697c222bbfb28e00e2/Green/alfil-rider.png");
}

.piece.BasePiece-component[data-color="3"][data-piece="K"] {
  background-image: none;
  content: url("https://bitbucket.org/vasyavasyalin/fourplayericons/raw/94a086f302e6166a408865697c222bbfb28e00e2/Green/king.png");
}

.piece.BasePiece-component[data-color="3"][data-piece="L"] {
  background-image: none;
  content: url("https://bitbucket.org/vasyavasyalin/fourplayericons/raw/94a086f302e6166a408865697c222bbfb28e00e2/Green/camel-rider.png");
}

.piece.BasePiece-component[data-color="3"][data-piece="M"] {
  background-image: none;
  content: url("https://bitbucket.org/vasyavasyalin/fourplayericons/raw/94a086f302e6166a408865697c222bbfb28e00e2/Green/general.png");
}

.piece.BasePiece-component[data-color="3"][data-piece="N"] {
  background-image: none;
  content: url("https://bitbucket.org/vasyavasyalin/fourplayericons/raw/94a086f302e6166a408865697c222bbfb28e00e2/Green/knight.png");
}

.piece.BasePiece-component[data-color="3"][data-piece="O"] {
  background-image: none;
  content: url("https://bitbucket.org/vasyavasyalin/fourplayericons/raw/94a086f302e6166a408865697c222bbfb28e00e2/Green/knight-rider.png");
}

.piece.BasePiece-component[data-color="3"][data-piece="P"] {
  background-image: none;
  content: url("https://bitbucket.org/vasyavasyalin/fourplayericons/raw/94a086f302e6166a408865697c222bbfb28e00e2/Green/pawn.png");
}

.piece.BasePiece-component[data-color="3"][data-piece="Q"] {
  background-image: none;
  content: url("https://bitbucket.org/vasyavasyalin/fourplayericons/raw/94a086f302e6166a408865697c222bbfb28e00e2/Green/queen.png");
}

.piece.BasePiece-component[data-color="3"][data-piece="R"] {
  background-image: none;
  content: url("https://bitbucket.org/vasyavasyalin/fourplayericons/raw/94a086f302e6166a408865697c222bbfb28e00e2/Green/rook.png");
}

.piece.BasePiece-component[data-color="3"][data-piece="S"] {
  background-image: none;
  content: url("https://bitbucket.org/vasyavasyalin/fourplayericons/raw/94a086f302e6166a408865697c222bbfb28e00e2/Green/dabbaba.png");
}

.piece.BasePiece-component[data-color="3"][data-piece="T"] {
  background-image: none;
  content: url("https://bitbucket.org/vasyavasyalin/fourplayericons/raw/94a086f302e6166a408865697c222bbfb28e00e2/Green/dabbaba-rider.png");
}

.piece.BasePiece-component[data-color="3"][data-piece="U"] {
  background-image: none;
  content: url("https://bitbucket.org/vasyavasyalin/fourplayericons/raw/25b2f83481ed319f835091357bd450beadbe7237/Green/dragon-horse.png");
}

.piece.BasePiece-component[data-color="3"][data-piece="V"] {
  background-image: none;
  content: url("https://bitbucket.org/vasyavasyalin/fourplayericons/raw/94a086f302e6166a408865697c222bbfb28e00e2/Green/wildebeest.png");
}

.piece.BasePiece-component[data-color="3"][data-piece="W"] {
  background-image: none;
  content: url("https://bitbucket.org/vasyavasyalin/fourplayericons/raw/94a086f302e6166a408865697c222bbfb28e00e2/Green/wazir.png");
}

.piece.BasePiece-component[data-color="3"][data-piece="Y"] {
  background-image: none;
  content: url("https://bitbucket.org/vasyavasyalin/fourplayericons/raw/94a086f302e6166a408865697c222bbfb28e00e2/Green/alibaba.png");
}

.piece.BasePiece-component[data-color="3"][data-piece="Z"] {
  background-image: none;
  content: url("https://bitbucket.org/vasyavasyalin/fourplayericons/raw/94a086f302e6166a408865697c222bbfb28e00e2/Green/alibaba-rider.png");
}

.piece.BasePiece-component[data-color="3"][data-piece="α"] {
  background-image: none;
  content: url("https://bitbucket.org/vasyavasyalin/fourplayericons/raw/94a086f302e6166a408865697c222bbfb28e00e2/Green/berolina.png");
}

.piece.BasePiece-component[data-color="3"][data-piece="β"] {
  background-image: none;
  content: url("https://bitbucket.org/vasyavasyalin/fourplayericons/raw/94a086f302e6166a408865697c222bbfb28e00e2/Green/soldier.png");
}

.piece.BasePiece-component[data-color="3"][data-piece="γ"] {
  background-image: none;
  content: url("https://bitbucket.org/vasyavasyalin/fourplayericons/raw/94a086f302e6166a408865697c222bbfb28e00e2/Green/stone.png");
}

.piece.BasePiece-component[data-color="3"][data-piece="δ"] {
  background-image: none;
  content: url("https://bitbucket.org/vasyavasyalin/fourplayericons/raw/94a086f302e6166a408865697c222bbfb28e00e2/Green/sergeant.png");
}

.piece.BasePiece-component[data-color="3"][data-piece="Δ"] {
  background-image: none;
  content: url("https://bitbucket.org/vasyavasyalin/fourplayericons/raw/25b2f83481ed319f835091357bd450beadbe7237/Green/dragon-bishop.png");
}